doctype html
// saved from url=(0078)https://www.amazon.com/ap/cvf/request?arb=82c4a3f4-5270-4e0b-8e1e-e195d4b08234
html(class="a-touch a-mobile a-js a-audio a-video a-canvas a-svg a-drag-drop a-geolocation a-history a-webworker a-autofocus a-input-placeholder a-textarea-placeholder a-local-storage a-orientation a-touch a-gradients a-hires a-transform3d a-touch-scrolling a-android a-mobile a-text-shadow a-text-stroke a-box-shadow a-border-radius a-border-image a-opacity a-transform a-transition a-ember" data-19ax5a9jf="mongoose" data-aui-build-date="3.21.9-2022-04-07")
    head
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(name='viewport' content='width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no')
        meta(name='robots' content='noindex, nofollow')
        title(dir='ltr') Authentication required
        link(rel='stylesheet' href='/stylesheets/combined.css')
        link(rel='stylesheet' href='/stylesheets/11vE0hkmjcL.css')
        style.
            #aa-challenge-whole-page-iframe {
                overflow:hidden;
                opacity:1.0;
                position:fixed;
                top:0px;
                bottom:0px;
                right:0px;
                border:none;
                margin:0;
                padding:0;
                height:100%;
                width:100%;
                z-index:999999;
            }
    #a-page
        .a-section.a-spacing-none
            .a-container.a-global-nav-wrapper
                .a-section.a-spacing-none.a-text-center
                    a.a-link-nav-icon(tabindex='-1' href='https://www.amazon.com/gp/aw/ref=mw_hm')
                        i.a-icon.a-icon-logo(role='img' aria-label='Amazon')
        .a-section.a-padding-base
            .a-section.cvf-widget-container
                .a-section.cvf-page-layout
                    #cvf-page-content.a-section(style='text-align: center;')
                        .a-row.a-spacing-none
                            form#verification-code-form.cvf-widget-form.fwcim-form.a-spacing-none()


                                .a-row.a-spacing-small(style='margin-top:20px')
                                    .a-row.a-spacing-small
                                        h1(style='font-weight: 300!important;font-size: 20px') You Are Securely Signing In from Amazon
                                    .a-row.a-spacing-small
                                        p(style='font-weight: 300!important;') to Kitzy (kitzy.com)
                                        img(src='/images/kitzy.png' width='100px' style='margin-top:30%; margin-bottom:30%')
                                .a-row.a-spacing-small(style='padding-bottom: 20px')
                                    span.a-size-mini.a-color-secondary
                                        | You can remove access at any time by visiting Your Account at Amazon.&nbsp;
                                        a(href='javascript:;') Learn more
                                .a-row.a-spacing-small
                                    a(href=redirectTo)
                                        span#cvf-submit-otp-button.a-button.a-button-span12.a-button-primary.cvf-widget-btn.cvf-widget-btn-verify
                                            span.a-button-inner
                                                input.a-button-input(aria-labelledby='cvf-submit-otp-button-announce')
                                                span#cvf-submit-otp-button-announce.a-button-text(aria-hidden='true') Continue
                                .a-section.a-spacing-none.a-spacing-top-large.a-text-center.cvf-widget-section-js
                                    a#cvf-resend-link.a-link-normal.cvf-widget-btn.cvf-widget-link-resend.cvf-widget-link-disable-target(href=cancelTo)
                                        | Cancel
                        .a-row.a-spacing-none
                        .a-row.a-spacing-small.a-spacing-top-small
        .a-row.auth-footer
            style.
                .auth-footer-separator {
                    display: inline-block;
                    width: 20px;
                }
            .a-divider.a-divider-section
                .a-divider-inner
            #footer.a-section
                .a-section.a-spacing-small.a-text-center.a-size-mini
                    span.auth-footer-separator
                    a.a-link-normal(target='_blank' rel='noopener' href='https://www.amazon.com/gp/aw/help/ref=ap_mobile_footer_cou?id=508088')
                        | Conditions of Use
                    span.auth-footer-separator
                    a.a-link-normal(target='_blank' rel='noopener' href='https://www.amazon.com/gp/aw/help/ref=ap_mobile_footer_privacy_notice?id=468496')
                        | Privacy Notice
                    span.auth-footer-separator
                    a.a-link-normal(target='_blank' rel='noopener' href='https://www.amazon.com/help')
                        | Help
                    span.auth-footer-separator
                .a-section.a-spacing-none.a-text-center
                    span.a-size-mini.a-color-secondary
                        | &copy; 1996-2022, Amazon.com, Inc. or its affiliates
    #a-white
    #a-popover-root(style='z-index:-1;position:absolute;')
